---
import Layout from '../layouts/Layout.astro';
import HeroAnimation from '../components/HeroAnimation.astro';
---

<Layout title="Gonzalo PA - Desarrollador Jr Full-Stack"
		description='Bienvenido a mi portafolio web. Soy un desarrollador Full-Stack Jr especializado en Java, .NET, Python y Next.js. Estudiante de Ingeniería de Sistemas en la UPC. Explora mis proyectos en GitHub y conéctate en LinkedIn.'
>
	<main class="flex flex-col gap-8 md:gap-24 h-full px-4">
		<section class="container flex flex-col gap-8 items-center pt-16 m-auto">
			<HeroAnimation/>
				<h1 class="text-balance">¡Hola! Soy <span class="text-gradient"> Gonzalo PA</span></h1>	
				<p class="text-center text-balance"> Desarrollador Jr Full-Stack especializado en Java, .NET, Python y Next.js. Estudiante de Ingeniería de Sistemas en la UPC. Explora mis proyectos en GitHub y conéctate en LinkedIn.</p>
				<div class="flex space-x-4">
					<button class="button-40" role="button">
						<span class="text">Resume</span>
					</button>
					<button class="button-40" role="button">
						<span class="text">LinkedIn</span>
					</button>
				</div>
		</section>	

		<section class="h-[1000px]">

		</section>
	</main>
</Layout>

<style>
	/* CSS */
	.button-40 {
	--glow-color: rgb(217, 176, 255);
	--glow-spread-color: rgba(191, 123, 255, 0.138);
	--enhanced-glow-color: rgb(231, 206, 255);
	--btn-color: rgb(100, 61, 136);
	border: .25em solid var(--glow-color);
	padding: 0.5em 2em;
	color: var(--glow-color);
	font-size: 15px;
	font-weight: bold;
	background-color: var(--btn-color);
	border-radius: 1em;
	outline: none;
	box-shadow: 0 0 1em .25em var(--glow-color),
		  0 0 4em 1em var(--glow-spread-color),
		  inset 0 0 .75em .25em var(--glow-color);
	text-shadow: 0 0 .5em var(--glow-color);
	position: relative;
	transition: all 0.3s;
	}
  
  .button-40::after {
	pointer-events: none;
	content: "";
	position: absolute;
	top: 120%;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: var(--glow-spread-color);
	filter: blur(2em);
	opacity: .7;
	transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
  }
  
  .button-40:hover {
	color: var(--btn-color);
	background-color: var(--glow-color);
	box-shadow: 0 0 1em .25em var(--glow-color),
		  0 0 4em 2em var(--glow-spread-color),
		  inset 0 0 .75em .25em var(--glow-color);
  }
  
  .button-40:active {
	box-shadow: 0 0 0.6em .25em var(--glow-color),
		  0 0 2.5em 2em var(--glow-spread-color),
		  inset 0 0 .5em .25em var(--glow-color);
  }

  .text-gradient {
    --bg-size: 200%;
    font-family: sans-serif;
    background: linear-gradient(90deg, #bd11ff, #fd1d1d, #9931ec, #9a4dd0) 0 0 /
      var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
  }

  @media (prefers-reduced-motion: no-preference) {
    .text-gradient {
      animation: move-bg 5s linear infinite;
    }

    @keyframes move-bg {
      to {
        background-position: var(--bg-size) 0;
      }
    }
  }



  
</style>
