---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Gonzalo Pingo Amaya - Desarrollador Full-Stack"
		description='Desarrollador Full-Stack especializado en Java, .NET, Python y Next.js. Estudiante de Ingeniería de Sistemas en la UPC. Explora mis proyectos en GitHub y conéctate en LinkedIn.'
>
	<main class="px-4">
		
	</main>
</Layout>
