---
import Layout from '../layouts/Layout.astro';
import Hero  from '../sections/Hero.astro';
---

<Layout title="Gonzalo PA - Desarrollador Jr Full-Stack"
		description='Bienvenido a mi portafolio web. Soy un desarrollador Full-Stack Jr especializado en Java, .NET, Python y Next.js. Estudiante de Ingeniería de Sistemas en la UPC. Explora mis proyectos en GitHub y conéctate en LinkedIn.'
>
	<main class="flex flex-col gap-8 md:gap-24 h-full px-4">
		<Hero />
		<section class="h-[1000px]">
		</section>
	</main>
</Layout>