<header
  class="sticky top-0 z-50 bg-transparent backdrop-blur-xl bg-opacity-0 backdrop-opacity-0 transition-all duration-700 ease-in-out px-4"
>
  <div class="container mx-auto px-4 sm:px-6 lg:px-12">
    <div class="flex justify-between items-center h-16">
      <!-- Logo o Nombre de la Marca -->
      <div class="flex-shrink-0">
        <a href="/">
          <!-- Puedes reemplazar esto con un logo -->
          <span class="text-2xl font-bold text-purple-300">GonzaloPA</span>
        </a>
      </div>
      <!-- Navegación -->
      <nav class="hidden md:flex space-x-8 md:text-lg">
        <a
          href="#experiencia"
          class="hover:text-purple-300 px-3 py-2"
        >
          Experiencia
        </a>
        <a
          href="#proyectos"
          class="hover:text-purple-300 px-3 py-2"
        >
          Proyectos
        </a>
        <a
          href="#sobre-mi"
          class="hover:text-purple-300 px-3 py-2"
        >
          Sobre mí
        </a>
        <a
          href="#contacto"
          class="hover:text-purple-300 px-3 py-2"
        >
          Contacto
        </a>
      </nav>
      <!-- Botón para menú móvil -->
      <div class="md:hidden">
        <button
          id="mobile-menu-button"
          class="hover:text-purple-300 focus:outline-none focus:text-purple-300"
        >
          <svg
            class="h-6 w-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              id="menu-icon"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            />
            <path
              id="close-icon"
              class="hidden"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Menú móvil -->
  <nav id="mobile-menu" class="md:hidden hidden bg-purple-800 bg-opacity-0 transition-all duration-300 ease-in-out text-center">
    <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3 md:text-2xl">
      <a
        href="#experiencia"
        class="block hover:text-purple-300 px-3 py-2"
      >
        Experiencia
      </a>
      <a
        href="#proyectos"
        class="block hover:text-purple-300 px-3 py-2"
      >
        Proyectos
      </a>
      <a
        href="#sobre-mi"
        class="block hover:text-purple-300 px-3 py-2"
      >
        Sobre mí
      </a>
      <a
        href="#contacto"
        class="block hover:text-purple-300 px-3 py-2"
      >
        Contacto
      </a>
    </div>
  </nav>
</header>

<script>
  import { $ } from "../lib/querySelector";
  
  const $nav = $("header");
  const mobileMenuButton = $('#mobile-menu-button');
  const mobileMenu = $('#mobile-menu');
  const menuIcon = $('#menu-icon');
  const closeIcon = $('#close-icon');

  // Cambio de estilo al hacer scroll
  document.addEventListener("scroll", () => {
    const breakpoint = 95;
    const isPastBreakpoint = window.scrollY >= breakpoint;

    if (isPastBreakpoint) {
      $nav.classList.remove("backdrop-opacity-0", "bg-opacity-0");
      $nav.classList.add("backdrop-opacity-100", "bg-opacity-70");
    } else {
      $nav.classList.remove("backdrop-opacity-100", "bg-opacity-70");
      $nav.classList.add("backdrop-opacity-0", "bg-opacity-0");
    }
  });

  // Menú móvil
  mobileMenuButton.addEventListener('click', () => {
    mobileMenu.classList.toggle('hidden');
    mobileMenu.classList.toggle('bg-opacity-90'); // Aplica un fondo oscuro cuando el menú está visible
    menuIcon.classList.toggle('hidden');
    closeIcon.classList.toggle('hidden');
  });
</script>
