<header class="sticky top-0 flex items-center justify-center w-full mx-auto my-2 px-4 -z-[-900]">
    <nav class="flex items-center text-sm font-medium md:text-2xl">
        <ul class="flex space-x-4 p-2">
            <li><a href="/">Experiencia</a></li>
            <li><a href="/">Proyectos</a></li>
            <li><a href="/">Sobre mí</a></li>
            <li><a href="/">Contacto</a></li>
        </ul>
    </nav>
</header>
