---
import HeroAnimation from "../components/HeroAnimation.astro";
import Button from "../components/Button.astro";
---

<section class="container flex flex-col gap-8 items-center m-auto lg:flex-row-reverse lg:px-12 lg:py-44">
  <HeroAnimation />
  <div class="flex flex-col gap-8 items-center text-center lg:items-start lg:text-start lg:w-[60%]">
    <h1 class="text-balance text-5xl md:text-6xl lg:text-2xl">
      ¡Hola! Soy <span class="text-gradient lg:text-6xl lg:block">Gonzalo PA</span>
    </h1>
    <p class="text-balance md:text-2xl">
      <span class="text-[#d9b0ff]">Desarrollador Jr Full-Stack</span>
      apasionado por crear proyectos innovadores. Listo para llevar mi pasión al
      siguiente nivel y <span class="text-[#d9b0ff]"
        >contribuir con creatividad</span
      > a proyectos desafiantes.
    </p>
    <div class="flex flex-col space-y-4 w-[90%] md:flex-row md:w-auto md:space-x-4 md:space-y-0">
      <!-- Button of LinkedIn-->
      <Button href="https://www.linkedin.com/in/gonzalopa23/" text="LinkedIn" pathIcon="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.761 0 5-2.239 5-5v-14c0-2.761-2.239-5-5-5zm-11.535 19h-3.465v-11h3.465v11zm-1.733-12.527c-1.103 0-1.998-.896-1.998-2s.895-2 1.998-2c1.103 0 1.998.896 1.998 2s-.895 2-1.998 2zm12.268 12.527h-3.465v-5.597c0-1.33-.025-3.041-1.852-3.041-1.854 0-2.138 1.445-2.138 2.937v5.701h-3.465v-11h3.325v1.506h.047c.463-.876 1.595-1.799 3.283-1.799 3.506 0 4.152 2.309 4.152 5.311v6.981z"/>
      <!-- Button of Github -->
      <Button href="https://github.com/GonzaloPA23" text="Github" pathIcon="M12 0a12 12 0 00-3.792 23.392c.6.112.82-.256.82-.574v-2.022c-3.338.728-4.042-1.61-4.042-1.61-.548-1.394-1.34-1.766-1.34-1.766-1.096-.748.084-.732.084-.732 1.212.084 1.848 1.242 1.848 1.242 1.076 1.836 2.82 1.306 3.508.998.108-.78.42-1.306.764-1.606-2.666-.304-5.468-1.332-5.468-5.93 0-1.312.468-2.384 1.236-3.224-.124-.304-.536-1.524.116-3.176 0 0 1.008-.322 3.3 1.23a11.48 11.48 0 016.006 0c2.292-1.552 3.3-1.23 3.3-1.23.652 1.652.24 2.872.116 3.176.768.84 1.236 1.912 1.236 3.224 0 4.61-2.808 5.624-5.484 5.922.432.372.816 1.104.816 2.228v3.308c0 .32.216.696.828.578A12 12 0 0012 0z"/>
      <!-- Button of Resume -->
      <Button href="https://drive.google.com/file/d/1smAeZbDjvKI5Ss3TtrZEx1vfhviKQ9jI/view?usp=sharing" text="Resume" pathIcon="M17,22a1,1,0,0,1,1-1h8V6a2,2,0,0,0-2-2H10.87L4,10.86V30a2,2,0,0,0,2,2H24a2,2,0,0,0,2-2V23H18A1,1,0,0,1,17,22ZM12,12H6v-.32L11.69,6H12Z"/>
    </div>
  </div>
</section>

<style>
  .text-gradient {
    --bg-size: 200%;
    font-family: sans-serif;
    background: linear-gradient(90deg, #bd11ff, #fd1d1d, #9931ec, #9a4dd0) 0 0 /
      var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
  }

  @media (prefers-reduced-motion: no-preference) {
    .text-gradient {
      animation: move-bg 5s linear infinite;
    }

    @keyframes move-bg {
      to {
        background-position: var(--bg-size) 0;
      }
    }
  }
</style>
